kbd {
    padding:0.1em 0.6em;
    border:1px solid #ccc;
    font-size:11px;
    font-family:Arial,Helvetica,sans-serif;
    background-color:#f7f7f7;
    color:#333;
    -moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -webkit-box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    box-shadow:0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    display:inline-block;
    margin:0 0.1em;
    text-shadow:0 1px 0 #fff;
    line-height:1.4;
    white-space:nowrap;
}

.navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    background: #fff;
    font-weight: 400;
    border: 1px solid rgba(34,36,38,.15);
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    min-height: 2.85714286em;
    z-index: 5;
}

.keyboard_item {
    display: flex;
    width: 100%;
}

.keyboard_left {
    margin-left: 5px;
    padding: 5px;
    margin-right: auto;
}

.keyboard_right {
    margin-right: 5px;
    padding: 5px;
    margin-left: auto;
}

.navbar_left_options {
    margin-right: auto;
}

.navbar_right_options {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    padding: 10px;
}

.navbar_right_dropdown {
    margin-left: auto;
}

.navbar_select_type {
    min-width: 0 !important;
}

.navbar_settings {
    margin: 0 5px;
}

.navbar_settings_icon {
    font-size: 15px;
    color: black;
}

.navbar_settings_icon:hover {
    cursor: pointer;
    color: gray;
}

.settings_menu {
    position: absolute;
    width: auto;
    min-height: 20vh;
    height: auto;
    min-width: max-content;
    font-size: 1em;
    text-shadow: none;
    text-align: left;
    box-shadow: rgba(34, 36, 38, 0.15) 0px 2px 3px 0px;
    z-index: 11;
    will-change: transform, opacity;
    outline: 0px;
    margin: 0px;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(34, 36, 38, 0.15);
    border-image: initial;
    border-radius: 0.285714rem;
    margin-left: -200px;
    overflow-y: auto;
    max-height: 60vh;
}

.settings_menu_item {
    margin: 5px 0;
    display: flex;
}

.settings_menu_item_colour {
    margin: 10px 5px;
}

.settings_menu_label {
    margin: 10px 5px;
}

.settings_menu_font_styles {
    margin: auto !important; 
}

.settings_menu_font_dropdown {
    min-width: 10px !important;
}

.keyboard_menu {
    position: absolute;
    width: auto;
    min-height: 20vh;
    height: auto;
    min-width: max-content;
    font-size: 1em;
    text-shadow: none;
    text-align: left;
    box-shadow: rgba(34, 36, 38, 0.15) 0px 2px 3px 0px;
    z-index: 11;
    will-change: transform, opacity;
    outline: 0px;
    margin: 0px;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(34, 36, 38, 0.15);
    border-image: initial;
    border-radius: 0.285714rem;
    margin-left: -250px;
    overflow-y: auto;
    max-height: 60vh;
}

.keyboard_item {
    display: flex;
    padding: 5px;
    margin: 5px;
}

.results {
    max-height: 60vh !important;
    overflow-y: auto !important;
}

.search_bar {
    display: flex;
}

.navbar_current_search {
    margin: auto;
    text-transform: uppercase;
}

#search_verse_input {
    border-right: none !important;
    border-radius: 0.285714rem !important;
}

.search_verse_type {
    min-width: 0 !important;
    border-left: none !important;
    margin-left: -5px;
}

.search_input_result {
    font-weight: bolder;
    color: black;
    display: inline;
}