.verse_container{
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    display: flex;
    z-index: 1;
}

.verse {
    margin: auto 5vw;
    overflow-y: auto;
    max-height: 30vh;
    width: 100%;
}

#verse_arabic_ayah {
    margin-bottom: 5px;
}

#verse_english_ayah {
    margin-bottom: 5px;
}

#verse_arabic_name {
    margin-bottom: 0
}

#verse_english_name {
    font-style: italic;
}

.verse_info {
    position: absolute;
    bottom: 10px;
    left: 0;
    max-width: 5vw;
}

.verse_circle {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 5px;
}