
.upperSixth {
    padding: 5% 5% 0 5%;
    position: relative;
    height: 66vh;
    width: 100%;
  }

.top_upper {
    height: 66%;
    display: flex;
    padding: 2% 0;
}

.playlist_segment {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.playlist_actions {
    margin-bottom: 5px;
    margin-top: auto;
}

.playlist_item {
    margin: 5px 0;
    padding: 5px;
    display: flex;
}

.playlist_text {
    width: 100%;
}

.playlist_item_info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.playlist_number {
    color: #21ba45;
}

.playlist_remove {
    margin: auto 0;
}

.playlist_item:hover {
    background-color: #dbe3b8;
    cursor: pointer;
}

.playlist_item.active {
    background-color: #97e3df;
}

.playlist_list {
    height: 70%;
    overflow-y: auto;
}

.bottom_upper {
    height: 33%;
    display: flex;
    align-self: flex-end;
}

.bottom_upper_left, .playlist_container {
    margin-left: 5px;
    margin-right: auto;
    max-width: 45%;
    min-width: 45%;
    align-self: flex-end;
    height: 100%;
}

.bottom_upper_right, .quicksettings_container {
    margin-right: 5px;
    margin-left: auto;
    max-width: 45%;
    min-width: 45%;
    align-self: flex-end;
    height: 100%;
}

.next_verse {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 100%;
    overflow-y: auto;
}

.next_header {
    width: 100%;
}

.no_next_verse {
    width: 100%;
    margin: auto;
}

.next_arabic {
    width: 100%;
    font-size: 20px;
    margin-bottom: 3px;
    line-height: normal;
}

.next_english {
    width: 100%;
    font-size: 20px;
    line-height: normal;
}

.previous_verse {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    height: 100%;
    overflow-y: auto;
}

.previous_header {
    width: 100%;
}

.no_previous_verse {
    width: 100%;
    margin: auto;
}

.previous_arabic {
    width: 100%;
    font-size: 20px;
    margin-bottom: 3px;
    line-height: normal;
}

.previous_english {
    width: 100%;
    font-size: 20px;
    line-height: normal;
}